@tailwind base;
@tailwind components;
@tailwind utilities;



html, body {
  height: 100%;
}

button:focus{
  outline: none!important;
}

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

img, svg{
  display: inline-block;
}
